h1{
    text-align: center;
    text-transform: capitalize;
}
*{
    font-family: 'Times New Roman', Times, serif; }
/* universal used to set everything in document to above font family */
#inner{
    font-size: 10px;
}
#outer{
    font-size: 25px;
}
